<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <img width="300" src = {{img_src}} />
</div>

<div class = "dashes">
  <p class="space" *ngFor = "let d of dashes">{{ d }}
</div>

<!--<p>{{incorrectGuessesCountMsg}}-->

<div style="text-align:center">

<p *ngIf = "endGame">You lost!!!

<p *ngIf = "wonGame">You won!!!

<p> <button *ngIf = "endGame || wonGame"
    md-button (click) = "playAgain()">Play Again</button>
</div>

<div style="text-align:center">
  <form #thisform = "ngForm">
    <md-form-field>
      <input size = "2" [(ngModel)]="letter" name="letter" maxlength="1">
      <button md-button (click) = "onSubmit()">Submit</button>
    </md-form-field>
  </form>

  <p *ngIf = "!guess">{{incorrectGuessMsg}}

  <!-- Find a condition here -->
  <p *ngIf = "!guess">Incorrect Guesses: {{incorrectGuessesList}}

  <p *ngIf = "guess">Incorrect Guesses: {{incorrectGuessesList}}

  <p *ngIf = "wins || loses">Wins: {{wins}}
  <p *ngIf = "loses || wins">Loses: {{loses}}
  <!-- <div class = "dashes">
    <p class="space" *ngFor = "let guessedChar of incorrectGuessesList">{{guessedChar}}
  </div>-->

<!--
  <ul>
    <li *ngFor = "let guessedChar of incorrectGuessesList"> {{guessedChar}} </li>
  </ul>
-->

</div>
